html {
  font-size: 10px;
  background: url(https://wallbox.ru/resize/960x854/wallpapers/main/201328/gradient-shum-oboina-23a6562.jpg); 
  background-size: cover;
}
body,html {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

p{
  font-size: 20px;
  color: #A52A2A;
}

.button{
  margin-top: 25px;
  padding: 15px 25px;
  font-size: 24px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: rgb(38, 50, 88);
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}


.mygrid{ 
    display: inline-grid;
    grid-template-columns: auto auto auto;
    background-color: rgb(209, 209, 209);
    padding: 10px;

}
.grid-box{
  background-color: rgba(204, 184, 184, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 30px;
  text-align: center;
}